frontend loadbalancer
                    bind *:8080
                    timeout client 10s
                    default_backend webservers
backend webservers
                    balance roundrobin
                    timeout connect 10s
                    timeout server 10s
{% for ip in groups['webservers'] %}
       server app{{ loop.index }} {{ ip }}:80
{% endfor %}
